<div class="panel panel-default">
  <div class="panel-heading">
   You may update your Helicopter here!
  </div>
  <div class="panel-body">
    <div class="container">

      <%= simple_form_for(@helicopter) do |f| %>
  <%= f.input :price_hour %>
  <%= f.input :occupancy, collection: 1..5 %>
  <%= f.input :autonomy %>
  <%= f.input :category %>
  <%= f.input :city %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
  <%= link_to "back", helicopters_path %>
    </div>
  </div>
</div>


