<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Helicopters (<%= @helicopters.count %>) </h1>
    </div>
  </div>

  <div class="row">
    <% @helicopters.each do |helicopter| %>
      <div class="col-lg-4 col-sm-12">
        <div class="helicopter-card ">
          <%= link_to helicopter_path(helicopter.id) do %>
          <div class="helicopter-card-image" style="background-image: url('<%= cl_image_path helicopter.photo.key%>')"></div>
          <div class="helicopter-card-content">
            <div class="helicopter-card-title">
              <h4><%= helicopter.category %></h4>
               <% end %>
            </div>
            <p><%= helicopter.description%></p>
            <div class="flex justify-content-between">
              <div class="flex">
                <i class="fas fa-male"></i><span><%= helicopter.occupancy %></span>
              </div>
              <div class="flex ml-3">
                <i class="fas fa-dollar-sign"></i> <%= helicopter.price_hour %>
              </div>
            </div>
          </div>
          <div class="helicopter-card-actions d-flex">
            <% if policy(helicopter).edit? %>
              <p class = "mr-2"> <%= link_to 'Edit', edit_helicopter_path(helicopter.id) %> </p>
            <% end %>
            <% if policy(helicopter).destroy? %>
              <p class = "mr-2"> <%= link_to 'Remove', helicopter_path(helicopter.id), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
 <%= console %>