<div class="map" style="background-image: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200')"></div>



<div class="container margin-top-negative">
  <div class="row">
  
    <div class='col-sm-8'>
    
      <div class="flat-show-card">
        <h1><%= @helicopter.description %></h1>
        <p class="flat-show-address"><%= @helicopter.price_hour %> price for hour</p>
      </div>
        <div class="flat-show-card" > 
          <h3><%= @helicopter.occupancy %>  Occupancy</h3>
          <h3><%= @helicopter.autonomy %>   of Autonomy</h3>
          <h3><%= @helicopter.category %>   of Category</h3>
          <h3><%= @helicopter.city %>       Departure city</h3>
          <h3><%= @helicopter.status %>     Status</h3>
          <h3><%= @helicopter.photo  %>     foto</h3>
       <div class="map" ></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this Helicopter!</h5>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar">start</span>
              </span>
          </div>
          <br></br>
          <div class='input-group date' id='datetimepicker3'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar">end</span>
              </span>
          </div>
        </div>
      </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
                 $('#datetimepicker3').datetimepicker();
            });
        </script>
          <input type="submit" value="Booking" class="btn btn-success mt-2" style="width: 100%"  %>
          <td>
            <%= link_to "booking", new_helicopter_booking_path(@helicopter) %>
              </td>
      </div>
       <%= link_to "Back to all helicopters", helicopters_path %>
</div>