<div class="map" style="background-image: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200')"></div>



<div class="container margin-top-negative">
  <div class="row">
  
    <div class='col-sm-8'>
    
      <div class="flat-show-card">
        <h1><%= @helicopter.description %></h1>
        <p class="flat-show-address"><%= @helicopter.price_hour %> price for hour</p>
      </div>
        <div class="flat-show-card" > 
          <h3><%= @helicopter.occupancy %>  Occupancy</h3>
          <h3><%= @helicopter.autonomy %>   of Autonomy</h3>
          <h3><%= @helicopter.category %>   of Category</h3>
          <h3><%= @helicopter.city %>       Departure city</h3>
          <h3><%= @helicopter.status %>     Status</h3>
          <h3><%= @helicopter.photo  %>     foto</h3>
       <div class="map" ></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this Helicopter!</h5>
        <div class="form-group">
        <%= simple_form_for([@helicopter, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date, class:"glyphicon glyphicon-calendar" %> 
        <%= f.submit %>
        <% end %>
        </div>
      </div>
    </div>
</div>


