<%# <div class="map" style="background-image: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200')"></div> %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @helicopter.photo.key%>);">
  <div class="container">
    <h1><%= @helicopter.category %></h1>
    <h2><%= @helicopter.description.capitalize %></h2>
  </div>
</div>


<div class="container margin-top-negative">
  <div class="row">
    <div class='col-sm-8'>
      <div class="flat-show-card">
        <h2 class="flat-show-address"> Price: <i class="fas fa-dollar-sign"></i><%= @helicopter.price_hour %></h2>
        </div>
          <div class="flat-show-card" >
            <h3>Occupancy: <%= @helicopter.occupancy %> <i class="fas fa-male"></i> </h3>
            <h3>Autonomy: <%= @helicopter.autonomy %> Km</h3>
            <h3>Model: <%= @helicopter.category %> <i class="fas fa-helicopter"></i></h3>
            <h3>Departure city: <%= @helicopter.city %> <i class="fas fa-globe-europe"></i></h3>
        </div>
      </div>
      <div class="col-4">
        <div class="flat-show-card">
          <h3>Book this Helicopter!</h3>
          <div class="form-group">
            <%= simple_form_for([@helicopter, @booking]) do |f| %>
              <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, input_html: {class: "datepicker"}  %>
              <%= f.button :submit, class: "btn btn-success w-100" %>
            <% end %>
          </div>
        </div>
      </div>
</div>


