
<div class="container mt-3">
  <div class="row margin-row">
    <div class="col-12">
      <h1>All your bookings: (<%= @bookings.count %>) </h1>
      <%= link_to "Back to search", helicopters_path, class:"text-secondary mb-3"%>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <% @bookings.each do |booking| %>
      <div class="card mr-3" style="width: 18rem;">
       <%= cl_image_tag(booking.helicopter.photo.key, width: 300, height: 100, crop: :fill, class:"card-img-top") %>
        <div class="card-header">
          Booking details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <%= booking.helicopter.description  %></li>
          <li class="list-group-item"> <strong> Hours: <%= (booking.end_date - booking.start_date) / 3_600  %></strong> </li>
          <li class="list-group-item"> <strong> Total: <%= number_to_currency(booking.total_amount) %></strong></li>
          <li class="list-group-item"> <strong> From <%= booking.start_date.day %>/ <%= booking.start_date.month %>/ <%= booking.start_date.year %> <%= booking.start_date.hour %>hr</strong></li>
          <li class="list-group-item"> <strong>To: <%= booking.end_date.day %>/ <%= booking.end_date.month %>/ <%= booking.end_date.year %>  <%= booking.end_date.hour %>hr</strong></li>
          <li class="list-group-item"> <%= link_to 'Review', new_booking_booking_review_path(booking.id) %> </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>









