
<div class="container mt-8">
  <div class="row">
    <% @booking.each do |booking| %>
      <div class="card-product col-12 col-md-10 mt-5">
        <% helicopter = Helicopter.find(booking.helicopter_id)%>
        <img url=('<%= cl_image_path helicopter.photo.key %>')   />
        <div class="helicopter-card-image" style="background-image: url('<%= cl_image_path helicopter.photo.key%>')"></div>

         <div class="card-product-infos d-flex">
          <h2>Booking Helicopter <%= helicopter.description %> </h2>

          <p class = "mr-2"> <%= link_to 'Remove', booking_path(booking.id), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
          
          <h2>Total Hours <%= (booking.end_date - booking.start_date) / 3_600  %></h2>        
          <h2>Total Amount <%= number_to_currency(booking.total_amount) %></h2>
          <h2>Start Date <%= booking.start_date %> %></h2>
          <h2>End Date <%= booking.end_date %>   %></h2>
          <p>Status Booking <strong><%= booking.status %></strong> </p>
          <p>Reservation  date  <strong><%= booking.created_at %></strong> </p>
          <%# @helicopters = Helicopter.find(params[:helicopter_id]) %>

      </div>
      </div>
    <% end %>
  </div>
</div>
