<nav class="nav-fixed-white">
      <div class="nav-center">
        <!-- nav header -->
        <% if user_signed_in? %>
          <div class="nav-header">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered mr-5", alt: "avatar-bordered" %>
            <div class="navbar-brand">
              <%= link_to 'HELI', root_path, class:"brand-one" %>
              <%= link_to 'RENT', root_path, class:"brand-two" %>
            </div>
            
            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        <% else %>
        <div class="nav-header">
            <div class="navbar-brand">
              <%= link_to 'HELI', root_path, class:"brand-one" %>
              <%= link_to 'RENT', root_path, class:"brand-two" %>
            </div>
            
            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        <% end %>
        <!-- links -->
        <% if user_signed_in? %>
          <ul class="links">
            <li>
              <%= form_tag helicopters_path, class:"navbar-form navbar-left input-mysize", method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type | City | Occupants | Price | Km"
                %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>
            </li>
            <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-flat"%>
            </li>
              
          </ul>
        <% else %>
          <ul class="links">
          <li>
              <%= form_tag helicopters_path, class:"navbar-form navbar-left input-mysize", method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type | City | Occupants | Price | Km"
                %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>
            </li>
            <li>
              <%= link_to 'Login', new_user_session_path, class:"btn btn-flat"%>
            </li>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-flat" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>