<div class="banner" style="background-image: url(<%= image_path "banner.jpg", alt: "Helicopter-banner"%>)">
  <div class="container">
    <h1> Media-partner <strong>helicopter - renting</strong></h1>
    <p><span id="banner-typed-text"></span></p>
    <a class="btn btn-flat" href="#">Explore</a>
  </div>
</div>

<div class="container mt-5 mb-5">
    <h1 class="mb-2"> Rent <strong>what you desire</strong></h1>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "helicopter-one.jpg", alt: "Helicopter-one"%>)">
        Top class helicopters
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "helicopter-two.jpg", alt: "Helicopter-two"%>)">
        Enjoy the view from sky
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "helicopter-three.jpg", alt: "Helicopter-three"%>)">
        Go everywhere you want
      </div>
    </div>
</div>

<div class="black mt-5 mb-5">
  <div class="cards-two center">
      <div class="card-category-two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "helicopter-four.jpg", alt: "Helicopter-four"%>)">
        Rent an helicopter
      </div>

      <div class="card-category-two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "helicopter-five.jpg", alt: "Helicopter-five"%>)">
        <%= link_to "Offer you helicopter", new_helicopter_path %>
        
      </div>
    </div>
</div>


<div class="mt-5">FOOTER AND NAVBAR PENDING</div>
